@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");

$red: #e20001;
$black: #191919;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*::selection {
  background-color: red;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  .wrapper {
    padding: 0 48px;

    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      p {
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      h5 {
        margin-top: 260px;
        font-size: 24px;
        font-weight: 600;
        padding-right: 360px;
      }
    }
  }
}

header {
  height: 100px;

  .inner-header {
    position: fixed;
    width: 90%;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo a {
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      color: $black;
    }

    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.9rem;
        mix-blend-mode: difference;
      }
    }
  }

  .hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;

    .menu-secondary-background-color {
      background: $black;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .menu-layer {
      position: relative;
      background: $red;
      height: 100%;
      overflow: hidden;

      .menu-work-background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 120%;
        width: 120%;
        opacity: 0;
        background-size: cover;
        background-repeat: no-repeat;
        animation-name: backgroundEffect;
        animation-duration: 30s;
        animation-iteration-count: infinite;
      }

      .wrapper {
        position: relative;

        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 100px;

          nav {
            display: block;

            ul {
              margin: 0;
              padding: 0;

              li {
                list-style: none;
                font-size: 6rem;
                font-weight: 700;
                cursor: pointer;
                height: 135px;
                overflow: hidden;
                position: relative;
                width: 700px;

                a {
                  position: absolute;
                  color: #fff;
                  text-decoration: none;

                  &:hover {
                    color: $black;
                  }
                }
              }
            }
          }

          .info {
            color: #fff;
            width: 300px;

            h3 {
              font-size: 1.2rem;
              margin: 8px auto;
            }

            p {
              margin: 0 auto;
              font-size: 0.8rem;
            }
          }
        }

        .list-links {
          position: absolute;
          bottom: -80px;
          margin-top: 16px;
          font-size: 0.8rem;
          font-weight: 600;
          color: #fff;

          .link-to-work {
            text-decoration: none;
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            color: #fff;

            &:hover {
              color: #fff;
              background: $black;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

.contact-link {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;

  &__lover-case {
    text-transform: lowercase;
  }

  &:hover {
    border-bottom: 1px solid black;
  }
}

@keyframes backgroundEffect {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0 0;
  }
}

.e-mail {
  display: inline;
  text-transform: lowercase;
}

.projects {
  //padding-left: 20px;
}

@media (max-width: 950px) {
  header {
    height: 100px;

    .inner-header {
      position: relative;
      z-index: 10;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo a {
        font-weight: 700;
        font-size: 1rem;
        text-decoration: none;
        color: $black;
      }

      .menu {
        button {
          border: none;
          background: none;
          outline: none;
          cursor: pointer;
          font-size: 0.9rem;
          mix-blend-mode: difference;
        }
      }
    }

    .hamburger-menu {
      display: none;
      z-index: 9;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      height: 100%;
      width: 100%;

      .menu-secondary-background-color {
        background: $black;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -1;
      }

      .menu-layer {
        position: relative;
        background: $red;
        height: 100%;
        overflow: visible;

        .menu-work-background {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          height: 120%;
          width: 120%;
          opacity: 0;
          background-size: cover;
          background-repeat: no-repeat;
          animation-name: backgroundEffect;
          animation-duration: 30s;
          animation-iteration-count: infinite;
        }

        .wrapper {
          position: relative;

          .menu-links {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;
            top: 200px;

            nav {
              display: block;

              ul {
                margin: 0;
                padding: 0;

                li {
                  list-style: none;
                  font-size: 3rem;
                  font-weight: 700;
                  cursor: pointer;
                  height: 100px;
                  overflow: hidden;
                  position: relative;
                  width: 700px;

                  a {
                    position: absolute;
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                      color: $black;
                    }
                  }
                }
              }
            }

            .info {
              color: #fff;
              width: 300px;

              h3 {
                font-size: 1.2rem;
                margin: 8px auto;
              }

              p {
                margin: 0 auto;
                font-size: 0.8rem;
              }
            }
          }

          .list-links {
            position: absolute;
            bottom: -80px;
            margin-top: 16px;
            font-size: 0.8rem;
            font-weight: 600;
            color: #fff;

            .link-to-work {
              text-decoration: none;
              font-weight: 400;
              margin: 0 32px;
              transition: 0.3s ease-in-out;
              color: #fff;

              &:hover {
                color: #fff;
                background: $black;
                padding: 8px 24px;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;

    .wrapper {
      padding: 0 10px;
      overflow: visible;

      .home {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        p {
          font-size: 1.1rem;
          letter-spacing: 0.3rem;
          font-weight: 500;
          text-transform: uppercase;
          word-break: break-word;
        }

        h5 {
          margin-top: 100px;
          font-size: 24px;
          font-weight: 600;
          padding-right: 0;
        }
      }
    }
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.home__text {
  z-index: 1000000 !important;
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 0.1px 0 #cccccc, 0 0.2px 0 #cccccc, 0 0.3px 0 #cccccc, 0 0.4px 0 #cccccc, 0 0.5px 0 #cccccc, 0 0.6px 0 #cccccc, 0 0.7px 0 #cccccc, 0 0.8px 0 #cccccc, 0 0.9px 0 #cccccc, 0 0.50px 0.30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 0.1px 0 #cccccc, 0 0.2px 0 #cccccc, 0 0.3px 0 #cccccc, 0 0.4px 0 #cccccc, 0 0.5px 0 #cccccc, 0 0.6px 0 #cccccc, 0 0.7px 0 #cccccc, 0 0.8px 0 #cccccc, 0 0.9px 0 #cccccc, 0 0.50px 0.30px rgba(0, 0, 0, 0.3);
  }
}


.list-icons {
  position: relative;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 200px);
}

.list-icons__item {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 40px 50px;
  flex-wrap: wrap;
  transform: rotate(-30deg) skew(25deg);
}

.list-icons__item-span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background-color: #000;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
}

.list-icons__item:hover .list-icons__item-span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.list-icons__item:nth-child(1) .list-icons__item-span {
  background-color: #35A7DA;
}

.list-icons__item:hover .list-icons__item-span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8;
}

.list-icons__item:hover .list-icons__item-span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6;
}

.list-icons__item:nth-child(2) .list-icons__item-span {
  background-color: #D74E42;
}

.list-icons__item:nth-child(3) .list-icons__item-span {
  background-color: #0796D4;
}

.list-icons__item:hover .list-icons__item-span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
}

.list-icons__item:nth-child(4) .list-icons__item-span {
  background-color: #0670AE;
}

.list-icons__item:hover .list-icons__item-span:nth-child(1) {
  transform: translate(0, 0);
  opacity: .2;
}

.list-icons__item:nth-child(5) .list-icons__item-span {
  background-color: #302F2F;
}

.logo {
  animation: animateLogo 1.5s linear infinite;
}

@keyframes animateLogo {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f00;
  }

  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
  }

  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f00;
  }

  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
  }
}
